test_suite: {
  identifier: "selftests"
  skip_exit_codes: 4

  test: {
    identifier: "vfio_pci_device_test"
    setup_cmd: "./setup.sh"
    cmd: "./run.sh ../../selftests/vfio/vfio_pci_device_test"
    cleanup_cmd: "./cleanup.sh"
  }

  test: {
    identifier: "vfio_pci_driver_test"
    setup_cmd: "./setup.sh"
    cmd: "./run.sh ../../selftests/vfio/vfio_pci_driver_test"
    cleanup_cmd: "./cleanup.sh"
  }

  test: {
    identifier: "vfio_dma_mapping_test"
    setup_cmd: "./setup.sh"
    cmd: "./run.sh ../../selftests/vfio/vfio_dma_mapping_test"
    cleanup_cmd: "./cleanup.sh"
  }

  test: {
    identifier: "vfio_pci_device_init_perf_test"
    setup_cmd: "./setup.sh"
    cmd: "./run.sh ../../selftests/vfio/vfio_pci_device_init_perf_test"
    cleanup_cmd: "./cleanup.sh"
  }

  test: {
    identifier: "vfio_iommufd_setup_test"
    setup_cmd: "./setup.sh"
    cmd: "./run.sh ../../selftests/vfio/vfio_iommufd_setup_test"
    cleanup_cmd: "./cleanup.sh"
  }

  test: {
    identifier: "vfio_pci_liveupdate_uapi_test"
    setup_cmd: "./setup.sh"
    cmd: "./run.sh ../../selftests/vfio/vfio_pci_liveupdate_uapi_test"
    cleanup_cmd: "./cleanup.sh"
  }
}

parameterized_test_suite {
  parameters: "vfio_pci_liveupdate_kexec_test"

  template_suite: {
    identifier: ""
    setup_cmd: "./setup.sh"
    cleanup_cmd: "./cleanup.sh"

    test: {
      identifier: "stage_1"
      cmd: "./run.sh ../../selftests/vfio/{{PARAMETER}} --stage 1 && echo $(pidof {{PARAMETER}}) >> /var/run/sendsigs.omit"
    }

    test: {
      identifier: "kexec"
      cmd: "../../liveupdate/kexec_load.sh"
      reboot_cmd: "systemctl reboot"
    }

    test: {
      identifier: "stage_2"
      setup_cmd: "./setup.sh"
      cmd: "./run.sh ../../selftests/vfio/{{PARAMETER}} --stage 2"
    }
  }
}
