test_suite: {
  identifier: "selftests"
  skip_exit_codes: 4
  setup_cmd: "ln -s /mnt/devtmpfs/liveupdate /dev/liveupdate || true"
  cleanup_cmd: "rm /dev/liveupdate"

  test: {
    identifier: "liveupdate"
    cmd: "../selftests/liveupdate/liveupdate"
  }
}

parameterized_test_suite {
  parameters: "luo_kexec_simple"
  parameters: "luo_multi_session"

  template_suite: {
    identifier: ""
    setup_cmd: "ln -s /mnt/devtmpfs/liveupdate /dev/liveupdate || true"
    cleanup_cmd: "rm /dev/liveupdate"

    test: {
      identifier: "stage_1"
      cmd: "../selftests/liveupdate/{{PARAMETER}} --stage 1 && echo $(pidof {{PARAMETER}}) >> /var/run/sendsigs.omit"
    }

    test: {
      identifier: "kexec"
      cmd: "./kexec_load.sh"
      reboot_cmd: "systemctl reboot"
    }

    test: {
      identifier: "stage_2"
      cmd: "../selftests/liveupdate/{{PARAMETER}} --stage 2"
    }
  }
}
